.text-center {
text-align: center;
}

#service {
background-color: white;
color: #2F3740 !important;
height: 18em;
}

#service > h2 {
  margin-top: 30px;

}

#service p, h2, i {
  color: #2F3740;
  vertical-align: center;
}

#service i {
  margin-right: 4em;
  justify-content:center;
}

h2 {
  color: #FED8AB;
}

#villa-detail {
  position: relative;
}

#button-book-villa {
  position:absolute;
  right: 88px;
  text-align: center;
  top: 950px;
  z-index: 2;
}
