_show.scss

.text-center {
text-align: center;
}

#service {
background-color: white;
color: #2F3740 !important;
height: 18em;
}

#service p, h2, i {
  color: #2F3740;
}

#service i {
  margin-right: 4em;
}

h2 {
  color: #FED8AB;
}

#villa-detail {
  position: relative;
}

#button-book-villa {
  position:absolute;
  top: 778px;
  z-index: 2;
  right: 39px;
  text-align: center;

}
