<div class="container">
  <h1>New booking</h1>
  <div class="form-box">
    <%= simple_form_for [@villa, @booking] do |f| %>
      <%= f.input :date %>
      <%= f.input :number_of_nights %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
