<div class="navbar d-flex justify-content-between">
  <%= link_to "Golden Places", root_path %>
  <div>
    <%= link_to "Search", root_path %>
    <%= link_to "Bookings", bookings_path %>
  </div>
</div>
