.button {
  color: #FED8AB;
  font-family: 'Heebo', sans-serif;
  padding: 15px 20px;
  text-decoration: none;
  background-color: none;
  border:1px solid #FED8AB;
  border-radius: 7pt;
  transition-property: background-color, color;
  transition-duration: 0.6s;
  width: 200px!important;

&:hover {
  color: #2F3740!important;
  background-color: #FED8AB!important;
}
}

#button-booking {

}
