
#card_description {
  width: 300px;
  height: 400px;
  border: 1px solid #FED8AB;
  border-radius: 7pt;
  margin: 0 auto;
}
#card_description > .avatar {
  margin: 10px 0px 0px 10px;
}
#card_description > p {
  text-align: center
}

