#search-villa-form {
  input {
    font-family: 'Heebo', sans-serif;
    color: #FED8AB;
    background-color: #2F3740;
    border:1px solid #FED8AB;
    border-radius: 7pt;
    padding: 5px 0px;
    width: 500px;
    margin: 8px;

  }
}
