.search-villa-form {
  input {
    font-family: 'Heebo', sans-serif;
    color: #FED8AB;
    background-color: #2F3740;
    border:1px solid #FED8AB;
    border-radius: 7pt;
    width: 500px;
    margin: 6px;

  }
}

.input-fields {
  margin: 30px 0 45px 0;
}
