/* Home Page */

.bleu-background {
position: relative;
width: 1440px;
height: 1035px;

background: #2F3740;
}


/* Rectangle 13 */

.rectangle-verticale {
position: absolute;
width: 196px;
height: 1046px;
left: 1261px;
top: -11px;

background: #FED8AB;
}
